#landingPage {
  width: 100vw;
  height: 100vh;
  background: url(../assets/img/Background.png);
  background-color: rgb(238, 238, 238);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.checkBorder {
  border: 2px solid black;
}
.size {
  width: 549px;
  height: 605px;
  margin: 100px 0 0;
}
.p {
  font-size: 24px;
  margin: -75px 0 70px 0;
}
.allBtn {
  /* border: 2px solid rgb(73, 73, 73); */
  border-radius: 5px;
  width: 150px;
  height: 40px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.btnSignUp {
  background-color: #d60000;
  border: 2px solid rgb(247, 56, 56);
  margin-left: 40px;
}
.btnSignUp:hover {
  background-color: #970000;
}
.btnSignIn {
  background-color: #d3d2d2;
  border: 2px solid rgb(104, 103, 103);
  color: black;
}
.btnSignIn:hover {
  background-color: rgb(89, 89, 89);
}
